.profile-strip {
    background: rgb(128, 117, 86) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    height: 41px;
    left: -129px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 36px;
    width: 1426px;
}

.down-arrow {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #BABBB6;
    height: 40px;
    left: 130px;
    padding: 4px 10px;
    position: absolute;
    top: 0;
    width: 6%;
}

/*.down-arrow:hover,
.down-arrow:active {
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: #fff;
}*/

.down-inner {
    overflow: hidden;
    padding-left: 145px;
}

.down-inner li {
    float: left;
    text-align: center;
}

.down-inner li a {
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 0px 15px;
}
.profile-image-name-menu {
  padding: 2px 15px !important;
  bottom: 8px;
  position: relative;
}
.down-inner li a:hover {
    background-color: #fff;
    color: #BABBB6;
}

.user-icon > img {
    border-radius: 5px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
}
.menu-icon { 
    top: 10px;
}
.bellblush{
    text-shadow: 0 0 3px #fff;
}