.profile-strip {
    background: inherit;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    height: 41px;
    margin: 0 4px;
    padding: 0;
    position: static;
    top: 36px;
    width: 100%;
    display: block;
}
.addedclassnew{
    width: 4% !important;
}
.down-arrow { /*edited*/

    border: medium none;
    border-radius: 0;
    color: #BABBB6;
    height: 40px;
/*    left: 115px;*/
    left: 110px; /*added*/
/*    padding: 4px 10px;*/
    padding: 4px 11px; /*added*/
    position: absolute;
    top: 0;
    width: 6%;
}
.top-bar-2 {
    top: 40px;
    position: fixed;
    width: 100%;
    height: 41px;
    background: rgba(86,67,17,0.65);
    display: none;
}
/*.down-arrow:hover,
.down-arrow:active {
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: #fff;
}*/
/*.hover-effect:hover i {
  background-color: #fff;
  color: #aaa897;
  margin-top: 0;
  padding: 12px 20px;
  transition:background-color 0.3s ease;
}
.hover-effect i {
  background-color: transparent;
  color: #ffffff;
  margin-top: 0;
  padding: 12px 20px;
}
.navbar-nav > li > a {
  line-height: 0;
  overflow: hidden;
  padding-top: 3px;

}*/

.hoverthis > li:hover, .hoverthis > li:active, .hoverthis > li:focus{
  background: #fff none repeat scroll 0 0;
    color: #aaa897;
}
.down-inner {
    overflow: hidden;
}
.down-inner li a {
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 11px 15px;
}
.down-inner li a.profile-image-name-menu {
    padding: 3px 15px !important;
}
.down-inner li a:hover {
    background-color: #fff;
    color: #BABBB6;
}

.user-icon > img {
    border-radius: 5px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

.bellblush{
    text-shadow: 0 0 3px #fff;
}
