.profile-paginator {
    position: fixed;
    right: 19px;
    top: 45%;
}

.profile-paginator > ul li {
    background-color: #fff;
    border-radius: 15px;
    height: 16px;
    list-style: outside none none;
    margin-bottom: 12px;
    width: 16px;
    opacity: 0.5;
    cursor: pointer;
}

.profile-paginator > ul {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 9px 8px;
}

.profile-paginator > ul li:last-child {
    margin-bottom: 0px;
}

.profile-paginator > ul li:hover {
    opacity: 1;
}

.user_profile_image_section {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    display: inline-block;
    float: left;
    height: 384px;
    margin-left: 10px;
    margin-right: 10px;
    width: 29%;
}

.user_profile_image_section > img {
    border-radius: 5px;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.user_profile_name_section {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 10px;
    display: inline-block;
    float: left;
    height: 183px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    width: 32%;
}

.user_profile_name_section > span {
    color: rgb(170, 168, 151);
    font-size: 20x;
}

.add-page-plus-icon {
    background: #AAA897;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-bottom: 13px;
    padding: 11px;
    cursor: pointer;
}

.user_upload_part_section {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 10px;
    color: rgb(170, 168, 151);
    display: inline-block;
    float: right;
    padding: 20px 10px;
    text-align: center;
}

.profile-paginator > ul li.active {
    opacity: 1;
    pointer-events: none;
}

.user_profile_section {
    min-height: 182px;
    position: relative;
}

.container-of-sections {
    display: block;
    position: absolute;
    width: 100%;
}

.vid-sec {
  float: left;
  margin: 0 8px 29px;
  position: relative;
}

.outer-wrap {
    padding: 0;
    list-style-type: none;
}

.inner-box {
  background: #b4504e none repeat scroll 0 0;
  border: 5px solid #fff;
  bottom: 0;
  color: #fff;
  font-size: 23px;
  height: 45px;
  left: 0;
  padding: 2px;
  position: absolute;
  text-align: center;
  width: 47px;
}
.text-sec {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    height: 184px;
    padding: 20px;
    position: relative;
}

.gridster {
    margin: 0 auto;
    width: 1170px;
}

.gridster .gs-w {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
}
.vid-sec {
  background: #fff none repeat scroll 0 0;
  border-radius: 10px 10px 10px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  overflow: hidden;
  padding: 5px;
}
.vid-sec img, .vid-sec video, .vid-sec label {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Animaton in page movement */


/* Safari 4.0 - 8.0 */

.classuptodownvisible {
    -webkit-animation-name: uptodownvisible;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    animation-name: uptodownvisible;
    animation-duration: 2s;
}

.classuptodownhide {
    -webkit-animation-name: uptodownhide;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    animation-name: uptodownhide;
    animation-duration: 2s;
}

.classdowntouphide {
    -webkit-animation-name: downtouphide;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    animation-name: downtouphide;
    animation-duration: 2s;
}

.classdowntoupvisible {
    -webkit-animation-name: downtoupvisible;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    animation-name: downtoupvisible;
    animation-duration: 2s;
}

@-webkit-keyframes uptodownvisible {
    from {
        top: -800px;
    }
    to {
        top: 0px;
    }
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes uptodownvisible {
    from {
        top: -800px;
    }
    to {
        top: 0px;
    }
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes uptodownhide {
    from {
        top: 0px;
    }
    to {
        top: 800px;
    }
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes uptodownhide {
    from {
        top: 0px;
    }
    to {
        top: 800px;
    }
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes downtouphide {
    from {
        top: 0px;
    }
    to {
        top: -800px;
    }
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes downtouphide {
    from {
        top: 0px;
    }
    to {
        top: -800px;
    }
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes downtoupvisible {
    from {
        top: 800px;
    }
    to {
        top: 0px;
    }
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes downtoupvisible {
    from {
        top: 800px;
    }
    to {
        top: 0px;
    }
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
