/*.welcome {
    height: 75px;
    width: 100px;
    background: #fff;
    position: fixed;
    right: 50px;
    top: 45px;
    border-bottom: 8px solid green;
    text-align: center;
    font-weight: 600;
}*/

.welcome, .welcomee {
    background: #fff;
    position: relative;
    border-bottom: 8px solid #579942;
    text-align: center;
    font-weight: 600;
    z-index: 99999;
    float: right;
    /*top: -76px;*/
    margin-right: 15px;
    width: 20%;
}
.close-msg, .close-msgg {
    text-align: right;
    padding-top: 3px;
    padding-bottom: 6px;
    width: 10%;
    float: right;
}
.close-msg a {
    margin-right: 4px;
}
/*.arrow-toggle .fa-chevron-up{
        display: inline-block;
        transform: rotate(180deg);
        transition: transform 0.3s ease 0s;
    }*/
.rotate{ /*edited*/
    -moz-transition: all 1s linear;
    -webkit-transition: all 1s linear;
/*    border: 1px solid #BABBB6;*/
    border: 2px solid #fff;
    border-radius: 50%;
/*    padding: 3px;*/
    padding: 1px;
    position: relative;
    top: 5px;
    transition: all 1s linear 0s;
    margin: 3px 0 0 2px; /*added*/
}
.rotate:focus, .rotate:active, .rotate:hover { /*added*/
    border: 2px solid #BABBB6;
}
.rotate.down{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
    border: 1px solid #BABBB6;
    border-radius: 50%;
    padding: 3px;
    position: relative;
    top: 5px;

}
.btn-default:hover {
  background-color: #fff;
  border-color: #adadad;
  color: #BABBB6;
}
    /*.arrow-toggle.collapsed .fa-chevron-up,
    .arrow-toggle .fa-chevron-down {
        display: none;
        transform: rotate(180deg);
    }*/
.btn-default.focus, .btn-default:focus{
    color: #BABBB6 !important;
}
.sectionnavber li {
    float:left;
	position: relative;
}
.sectionnavber li:after {
    background: #fff;
    content: "";
    display: inline-block;
    height: 20px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
}
.sectionnavber li:last-child:after {
	display: none;
}
.allicon {
    top: 6px !important;
}
